@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme{
    --font-josefin: Josefin Sans, san-serif;
    --color-pink-400: hsl(0, 36%, 70%);
    --color-red-500: hsl(0, 93%, 68%);
    --gradient-wp:Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
    --gradient-pr:Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}